{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} m0" data-template="base.twig">
		<div class="body-inner">
			<header class="header header-area">
				{% block header %}
					<div class="header-inner header-area__inner">
						<div class="container">
							<div class="row middle-xs">

								<div class="col-xs-8 col-md-3">
									<h1 class="hdr-logo m0" role="banner">
										<a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
									</h1>
								</div>

								<div class="col-xs-4 col-md-9">
									<nav id="nav-main" class="nav-main right-align" role="navigation">
										{% include "menu.twig" with {'menu': menu.get_items} %}
									</nav><!-- #nav -->
								</div>

							</div><!-- .row -->
						</div><!-- .container -->
					</div>
				{% endblock %}
			</header>

			<section id="content" role="main" class="content content-area">
				{% if title %}<h1>{{title}}</h1>{% endif %}
				<div class="content-inner content-area__inner {{sidebar_class}}">
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>
				{% if sidebar %}
					<aside class="sidebar sidebar-area">
						{{sidebar}}
					</aside>
				{% endif %}
			</section>

			{% block footer %}
				<footer class="footer footer-area center">
					{% include 'footer.twig' %}
				</footer>
				{{ function('wp_footer') }}
			{% endblock %}
		</div>
	</body>
</html>
